<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" type="text/css" href="css/Main.css"/>
    <link href="https://fonts.googleapis.com/css?family=Exo+2&display=swap" rel="stylesheet">
</head>
<body>
<h1>Edycja</h1>
<div class="box">
    <div class="moreone">
        <h2>Wybory</h2>
        <br>
        <label>Id Wybory</label>
        <label>Wartosc</label>
        <br>
        <label style="padding: 20px">Data</label>
        <form>
            <input type="text" name="Wartosc">
        </form>
        <br>
        <label style="padding: 20px">Frekwencja</label>
        <form>
            <input type="text" name="Wartosc">
        </form>
        <br>
        <label style="padding: 20px">Godzina rozpoczecia</label>
        <form>
            <input type="text" name="Wartosc">
        </form>
        <br>
        <label style="padding: 20px">Godzina zakonczenia</label>
        <form>
            <input type="text" name="Wartosc">
        </form>
        <br>
        <label style="padding: 20px">Ilosc nie waznych glosow</label>
        <form>
            <input type="text" name="Wartosc">
        </form>
        <br>
    </div>
</div>
<div class="buttonMore">
    <button>Poprzedni Rekord</button>
    <button>Nastepny Rekord</button>
    <button><a href="PanelAdministratora.ejs">Zapisz</a></button>
</div>

</body>
</html>