<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Panel Administratora</title>
    <link rel="stylesheet" type="text/css" href="css/Main.css"/>
    <link href="https://fonts.googleapis.com/css?family=Exo+2&display=swap" rel="stylesheet">
</head>
<body>
<div class="Menu">
    <h1>Nowy rekord wiele do wiele</h1>
</div>
<div class="boxmore">
    <div class="EncjaJeden">
        <h2>Wybory</h2>
        <br>
        <label style="padding: 20px">Id Wybory</label>
        <label>Wartosc</label>
        <br>
        <label style="padding: 20px">Data</label>
        <form>
            <input type="text" name="Wartosc">
        </form>
        <br>
        <label style="padding: 20px">Frekwencja</label>
        <form>
            <input type="text" name="Wartosc">
        </form>
        <br>
        <label style="padding: 20px">Godzina rozpoczecia</label>
        <form>
            <input type="text" name="Wartosc">
        </form>
        <br>
        <label style="padding: 20px">Godzina zakonczenia</label>
        <form>
            <input type="text" name="Wartosc">
        </form>
        <br>
        <label style="padding: 20px">Ilosc nie waznych glosow</label>
        <form>
            <input type="text" name="Wartosc">
        </form>
    </div>
    <div class="rekordlist">
        <h2>Wybory rekrdy</h2>
        <ol>
            <li>213424
                <ul>
                    <li>2001</li>
                </ul>
            </li>
            <li>142214
                <ul>
                    <li>2002</li>
                </ul>
            </li>
            <li>314243
                <ul>
                    <li>2004</li>
                </ul>
            </li>
        </ol>
    </div>
    <div class="rekordlist">
        <h2>Kandydat rekrdy</h2>
        <ol>
            <li>213213213
                <ul>
                    <li>Mikolaj</li>
                    <li>Barabasz</li>
                </ul>
            </li>
            <li>324324234
                <ul>
                    <li>Wiktoria</li>
                    <li>Sternik</li>
                </ul>
            </li>
            <li>432423423
                <ul>
                    <li>Maciek</li>
                    <li>Jakuki</li>
                </ul>
            </li>
        </ol>
    </div>
    <div class="EncjaDwa">
        <h2>Kandydat</h2>
        <br>
        <label style="padding: 20px">Id Kandydat</label>
        <label>Wartosc</label>
        <br>
        <label style="padding: 20px">Miejsce</label>
        <form>
            <input type="text" name="Wartosc">
        </form>
        <br>
        <label style="padding: 20px">Imie</label>
        <form>
            <input type="text" name="Wartosc">
        </form>
        <br>
        <label style="padding: 20px">Nazwisko</label>
        <form>
            <input type="text" name="Wartosc">
        </form>
        <br>
        <label style="padding: 20px">NrLegitymacjiPoselskiej</label>
        <form>
            <input type="text" name="Wartosc">
        </form>
        <br>
        <label style="padding: 20px">IdLista</label>
        <form>
            <input type="text" name="Wartosc">
        </form>
        <br>
        <br>
        <label style="padding: 20px">IdUgrupowanie</label>
        <form>
            <input type="text" name="Wartosc">
        </form>
        <br>
        <br>
        <label style="padding: 20px">IdKandydujeDo</label>
        <form>
            <input type="text" name="Wartosc">
        </form>
        <br>
    </div>
</div>
<div class="buttonRekordmore">
    <button><a href="PanelAdministratoraWieledoWiele.ejs">Stworz</a></button>
</div>
</body>
</html>