<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" type="text/css" href="css/Main.css"/>
    <link href="https://fonts.googleapis.com/css?family=Exo+2&display=swap" rel="stylesheet">
</head>
<body>
<h1>Nowy rekord</h1>
<div class="more">
    <h2>Wybory</h2>
    <div class="przypisy">
        <label>Id Wybory</label>
        <br>
        <label>Data</label>
        <br>
        <label>Frekwencja</label>
        <br>
        <label>Godzina rozpoczecia</label>
        <br>
        <label>Godzina zakonczenia</label>
        <br>
        <label>Ilosc nie waznych glosow</label>
    </div>
    <div class="wartosci">
        <form>
            <input type="text" name="id" style="padding: 10px">
            <br>
            <input type="text" name="data" style="padding: 10px">
            <br>
            <input type="text" name="frekwencja" style="padding: 10px">
            <br>
            <input type="text" name="godzinaR" style="padding: 10px">
            <br>
            <input type="text" name="godzinaZ" style="padding: 10px">
            <br>
            <input type="text" name="ING" style="padding: 10px">
        </form>
    </div>
</div>
<div class="buttonMore">
    <button><a href="PanelAdministratora.ejs">Stworz</a></button>
</div>
</body>
</html>