<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" type="text/css" href="css/Main.css"/>
    <link href="https://fonts.googleapis.com/css?family=Exo+2&display=swap" rel="stylesheet">
</head>
<body>
<h1>Edycja</h1>
<div class="more">
    <h2>Wybory</h2>
    <div class="przypisy">
        <label>Id wybory</label>
        <br>
        <label>Data</label>
        <br>
        <label>Frekwencja</label>
        <br>
        <label>Godzina rozpoczecia</label>
        <br>
        <label>Godzina zakonczenia</label>
        <br>
        <label>Ilosc nie waznych glosow</label>
    </div>
    <div class="wartosci" >
        <form action="/edit" method="POST">
            <input id="idwybory" type="text" name="Id_wybory" style="padding: 10px" value="<%= wyborca.id %>"></input>
            <br>
            <input id="data" type="text" name="Data" style="padding: 10px">
            <br>
            <input id="frekwencja" type="text" name="Frekwencja" style="padding: 10px">
            <br>
            <input id="godzinaR" type="text" name="Godzina_R" style="padding: 10px">
            <br>
            <input id="godzinaZ" type="text" name="Godzina_Z" style="padding: 10px">
            <br>
            <input id="ING" type="text" name="I_N_G" style="padding: 10px">
            <div class="buttonMore">
                <input type="submit" value="Zapisz" class="action-btn"></input>
            </div>
        </form>
    </div>
</div>
</body>
</html>