<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>Home</title>
    <link rel="stylesheet" type="text/css" href="css/Main.css"/>
    <link href="https://fonts.googleapis.com/css?family=Exo+2&display=swap" rel="stylesheet">
</head>
<body>
    <div class="Login"><h1>Portal Wyborczy</h1></div>
    <div class="Login" style="float: right">
        <br>
        <button name="sing in">login</button>
    </div>
    <div class="Login" style="float: right">
        <form>
            Haslo:<br>
            <input type="text" name="haslo">
        </form>
        <li><a href="/Zarejestruj">Zarejestruj</a></li>
        <li><a href="/PanelAdministratora?page_last=0&page_next=10">Panel Administratora</a></li>
    </div>
    <div class="Login" style="float: right">
        <form>
            Login:<br>
            <input type="text" name="login">
        </form>
    </div>
    <div class="Menu">
        <ul>
            <li><a class="active" href="#about" href="Home.ejs">Home</a></li>
            <li><a href="Dyskusja.html">Dyskusja</a></li>
            <li><a href="Glosuj.html">Glosuj</a></li>
            <li style="float: right"><a href="Kontakt.html">Kontakt</a></li>
        </ul>
    </div>
<div class="home_container">
    <h1>Post nr 1</h1>
    Litwo, Ojczyzno moja! ty jesteś jak zdrowie;
    Ile cię trzeba cenić, ten tylko się dowie,
    Kto cię stracił. Dziś piękność twą w całej ozdobie
    Widzę i opisuję, bo tęsknię po tobie.

    Panno święta, co Jasnej bronisz Częstochowy
    I w Ostrej świecisz Bramie! Ty, co gród zamkowy
    Nowogródzki ochraniasz z jego wiernym ludem!
    Jak mnie dziecko do zdrowia powróciłaś cudem
    (— Gdy od płaczącej matki, pod Twoją opiekę
    Ofiarowany martwą podniosłem powiekę;
    I zaraz mogłem pieszo, do Twych świątyń progu
    Iść za wrócone życie podziękować Bogu —)
    Tak nas powrócisz cudem na Ojczyzny łono!...
    Tymczasem, przenoś moją duszę utęsknioną
    Do tych pagórków leśnych, do tych łąk zielonych,
    Szeroko nad błękitnym Niemnem rozciągnionych;
    Do tych pól malowanych zbożem rozmaitem,
    Wyzłacanych pszenicą, posrebrzanych żytem;
    Gdzie bursztynowy świerzop, gryka jak śnieg biała,
    Gdzie panieńskim rumieńcem dzięcielina pała,
    A wszystko przepasane jakby wstęgą, miedzą
    Zieloną, na niej zrzadka ciche grusze siedzą.
    <h1>Post nr 2</h1>
    Litwo, Ojczyzno moja! ty jesteś jak zdrowie;
    Ile cię trzeba cenić, ten tylko się dowie,
    Kto cię stracił. Dziś piękność twą w całej ozdobie
    Widzę i opisuję, bo tęsknię po tobie.

    Panno święta, co Jasnej bronisz Częstochowy
    I w Ostrej świecisz Bramie! Ty, co gród zamkowy
    Nowogródzki ochraniasz z jego wiernym ludem!
    Jak mnie dziecko do zdrowia powróciłaś cudem
    (— Gdy od płaczącej matki, pod Twoją opiekę
    Ofiarowany martwą podniosłem powiekę;
    I zaraz mogłem pieszo, do Twych świątyń progu
    Iść za wrócone życie podziękować Bogu —)
    Tak nas powrócisz cudem na Ojczyzny łono!...
    Tymczasem, przenoś moją duszę utęsknioną
    Do tych pagórków leśnych, do tych łąk zielonych,
    Szeroko nad błękitnym Niemnem rozciągnionych;
    Do tych pól malowanych zbożem rozmaitem,
    Wyzłacanych pszenicą, posrebrzanych żytem;
    Gdzie bursztynowy świerzop, gryka jak śnieg biała,
    Gdzie panieńskim rumieńcem dzięcielina pała,
    A wszystko przepasane jakby wstęgą, miedzą
    Zieloną, na niej zrzadka ciche grusze siedzą.
    <h1>Post nr 3</h1>
    Litwo, Ojczyzno moja! ty jesteś jak zdrowie;
    Ile cię trzeba cenić, ten tylko się dowie,
    Kto cię stracił. Dziś piękność twą w całej ozdobie
    Widzę i opisuję, bo tęsknię po tobie.

    Panno święta, co Jasnej bronisz Częstochowy
    I w Ostrej świecisz Bramie! Ty, co gród zamkowy
    Nowogródzki ochraniasz z jego wiernym ludem!
    Jak mnie dziecko do zdrowia powróciłaś cudem
    (— Gdy od płaczącej matki, pod Twoją opiekę
    Ofiarowany martwą podniosłem powiekę;
    I zaraz mogłem pieszo, do Twych świątyń progu
    Iść za wrócone życie podziękować Bogu —)
    Tak nas powrócisz cudem na Ojczyzny łono!...
    Tymczasem, przenoś moją duszę utęsknioną
    Do tych pagórków leśnych, do tych łąk zielonych,
    Szeroko nad błękitnym Niemnem rozciągnionych;
    Do tych pól malowanych zbożem rozmaitem,
    Wyzłacanych pszenicą, posrebrzanych żytem;
    Gdzie bursztynowy świerzop, gryka jak śnieg biała,
    Gdzie panieńskim rumieńcem dzięcielina pała,
    A wszystko przepasane jakby wstęgą, miedzą
    Zieloną, na niej zrzadka ciche grusze siedzą.
    <h1>Post nr 4</h1>
    Litwo, Ojczyzno moja! ty jesteś jak zdrowie;
    Ile cię trzeba cenić, ten tylko się dowie,
    Kto cię stracił. Dziś piękność twą w całej ozdobie
    Widzę i opisuję, bo tęsknię po tobie.

    Panno święta, co Jasnej bronisz Częstochowy
    I w Ostrej świecisz Bramie! Ty, co gród zamkowy
    Nowogródzki ochraniasz z jego wiernym ludem!
    Jak mnie dziecko do zdrowia powróciłaś cudem
    (— Gdy od płaczącej matki, pod Twoją opiekę
    Ofiarowany martwą podniosłem powiekę;
    I zaraz mogłem pieszo, do Twych świątyń progu
    Iść za wrócone życie podziękować Bogu —)
    Tak nas powrócisz cudem na Ojczyzny łono!...
    Tymczasem, przenoś moją duszę utęsknioną
    Do tych pagórków leśnych, do tych łąk zielonych,
    Szeroko nad błękitnym Niemnem rozciągnionych;
    Do tych pól malowanych zbożem rozmaitem,
    Wyzłacanych pszenicą, posrebrzanych żytem;
    Gdzie bursztynowy świerzop, gryka jak śnieg biała,
    Gdzie panieńskim rumieńcem dzięcielina pała,
    A wszystko przepasane jakby wstęgą, miedzą
    Zieloną, na niej zrzadka ciche grusze siedzą.
    <h1>Post nr 5</h1>
    Litwo, Ojczyzno moja! ty jesteś jak zdrowie;
    Ile cię trzeba cenić, ten tylko się dowie,
    Kto cię stracił. Dziś piękność twą w całej ozdobie
    Widzę i opisuję, bo tęsknię po tobie.

    Panno święta, co Jasnej bronisz Częstochowy
    I w Ostrej świecisz Bramie! Ty, co gród zamkowy
    Nowogródzki ochraniasz z jego wiernym ludem!
    Jak mnie dziecko do zdrowia powróciłaś cudem
    (— Gdy od płaczącej matki, pod Twoją opiekę
    Ofiarowany martwą podniosłem powiekę;
    I zaraz mogłem pieszo, do Twych świątyń progu
    Iść za wrócone życie podziękować Bogu —)
    Tak nas powrócisz cudem na Ojczyzny łono!...
    Tymczasem, przenoś moją duszę utęsknioną
    Do tych pagórków leśnych, do tych łąk zielonych,
    Szeroko nad błękitnym Niemnem rozciągnionych;
    Do tych pól malowanych zbożem rozmaitem,
    Wyzłacanych pszenicą, posrebrzanych żytem;
    Gdzie bursztynowy świerzop, gryka jak śnieg biała,
    Gdzie panieńskim rumieńcem dzięcielina pała,
    A wszystko przepasane jakby wstęgą, miedzą
    Zieloną, na niej zrzadka ciche grusze siedzą.
    <h1>Post nr 6</h1>
    Litwo, Ojczyzno moja! ty jesteś jak zdrowie;
    Ile cię trzeba cenić, ten tylko się dowie,
    Kto cię stracił. Dziś piękność twą w całej ozdobie
    Widzę i opisuję, bo tęsknię po tobie.

    Panno święta, co Jasnej bronisz Częstochowy
    I w Ostrej świecisz Bramie! Ty, co gród zamkowy
    Nowogródzki ochraniasz z jego wiernym ludem!
    Jak mnie dziecko do zdrowia powróciłaś cudem
    (— Gdy od płaczącej matki, pod Twoją opiekę
    Ofiarowany martwą podniosłem powiekę;
    I zaraz mogłem pieszo, do Twych świątyń progu
    Iść za wrócone życie podziękować Bogu —)
    Tak nas powrócisz cudem na Ojczyzny łono!...
    Tymczasem, przenoś moją duszę utęsknioną
    Do tych pagórków leśnych, do tych łąk zielonych,
    Szeroko nad błękitnym Niemnem rozciągnionych;
    Do tych pól malowanych zbożem rozmaitem,
    Wyzłacanych pszenicą, posrebrzanych żytem;
    Gdzie bursztynowy świerzop, gryka jak śnieg biała,
    Gdzie panieńskim rumieńcem dzięcielina pała,
    A wszystko przepasane jakby wstęgą, miedzą
    Zieloną, na niej zrzadka ciche grusze siedzą.
</div>
</body>
</html>