<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Nowy rekord</title>
    <link rel="stylesheet" type="text/css" href="css/Main.css"/>
    <link href="https://fonts.googleapis.com/css?family=Exo+2&display=swap" rel="stylesheet">
</head>
<body>
<h1>Nowy rekord</h1>
<label class='required'><%= errors_istnieje%></label>
<div class="more">
    <h2>Kandydat</h2>
    <br>
    <div class="przypisy">
        <label>Miejsce</label>
        <br>
        <label>Imie</label>
        <br>
        <label>Nazwisko</label>
        <br>
        <label>NrLegitymacjiPoselskiej</label>
        <br>
        <label>IdLista</label>
        <br>
        <label>IdUgrupowanie</label>
        <br>
        <label>IdKandydujeDo</label>
    </div>
    <div class="wartosci">
        <form id="dbService" action="/addKandydat" method="POST">
            <p>
            <input type="hidden" name="wyboryId"value="<%=wyboryId%>">
            <input type="text" id="miejsce" name="miejsce" style="padding: 10px"><span class="required"><sup>*</sup></span>
            <span id="errors_miejsce" class="errors-text"></span>
            <br>
            <input type="text" id="imie" name="imie" style="padding: 10px"><span class="required"><sup>*</sup></span>
            <span id="errors_imie" class="errors-text"></span>
            <br>
            <input type="text" id="nazwisko" name="nazwisko" style="padding: 10px"><span class="required"><sup>*</sup></span>
            <span id="errors_nazwisko" class="errors-text"></span>
            <br>
            <input type="text" id="nrLegitymacjiPoselskiej" name="nrLegitymacjiPoselskiej" style="padding: 10px"><span class="required"><sup>*</sup></span>
            <span id="errors_nrLegitymacjiPoselskiej" class="errors-text"></span>
            <br>
            <input type="text" id="idLista" name="idLista" style="padding: 10px">
            <br>
            <input type="text" id="idUgrupowanie" name="idUgrupowanie" style="padding: 10px">
            <br>
            <input type="text" id="idKandydujeDo" name="idKandydujeDo" style="padding: 10px">
            </p>
            <div class="buttonMore">
                <input type="submit" value="Zapisz" class="action-btn"></input>
            </div>
        </form>
    </div>
</div>
</body>
</html>