<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Nowy rekord</title>
    <link rel="stylesheet" type="text/css" href="css/Main.css"/>
    <link href="https://fonts.googleapis.com/css?family=Exo+2&display=swap" rel="stylesheet">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <script src="js/Wybory.js"></script>
</head>
<body>
<h1>Nowy rekord</h1>
<div class="more">
    <h2>Wybory</h2>
    <div class="przypisy">
        <label>Data</label>
        <br>
        <label>Frekwencja</label>
        <br>
        <label>Godzina rozpoczecia</label>
        <br>
        <label>Godzina zakonczenia</label>
        <br>
        <label>Ilosc nie waznych glosow</label>
    </div>
    <div class="wartosci" >
        <form id="Wybory" action="/addWybory" method="POST">
            <input id="kandydatId" type="hidden" name="kandydatId" style="padding: 10px" value="<%=kandydatId%>">
            <input type="text" id="data" name="data" style="padding: 10px"><span class="required"><sup>*</sup></span>
            <span id="errors_data" class="errors-text"></span>
            <br>
            <input type="text" id="frekwencja" name="frekwencja" style="padding: 10px"><span class="required"><sup>*</sup></span>
            <span id="errors_frekwencja" class="errors-text"></span>
            <br>
            <input type="text" id="godzinaR" name="godzinaR" style="padding: 10px"><span class="required"><sup>*</sup></span>
            <span id="errors_godzinaR" class="errors-text"></span>
            <br>
            <input type="text" id="godzinaZ" name="godzinaZ" style="padding: 10px"><span class="required"><sup>*</sup></span>
            <span id="errors_godzinaZ" class="errors-text"></span>
            <br>
            <input type="text" id="ING" name="ING" style="padding: 10px"><span class="required"><sup>*</sup></span>
            <span id="errors_ING" class="errors-text"></span>
            <div class="buttonMore">
                <input type="submit" value="Zapisz" class="action-btn"></input>
            </div>
        </form>
    </div>
</div>
</body>
</html>