<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Panel Administratora</title>
    <link rel="stylesheet" type="text/css" href="css/Main.css"/>
    <link href="https://fonts.googleapis.com/css?family=Exo+2&display=swap" rel="stylesheet">
</head>
<body>
<div class="Menu">
    <h1>Panel Administratora</h1>
</div>
<div class="box">
    <div class="admin_list_more">
        <h2>Encje</h2>
        <ol>
            <li>Encja nr. 1
                <ul>
                    <li>Encja powiazana nr. 1</li>
                    <li>Encja powiazana nr. 2</li>
                </ul>
            </li>
            <li>Encja nr. 2
            <ul>
                <li>Encja powiazana nr. 1</li>
                <li>Encja powiazana nr. 2</li>
            </ul>
            </li>
            <li>Encja nr. 3
                <ul>
                    <li>Encja powiazana nr. 1</li>
                    <li>Encja powiazana nr. 2</li>
                </ul>
            </li>
        </ol>
        <button><a href="PanelAdministratora.ejs">Panel administratora Pojedyncze encje</a></button>
    </div>
    <div class="admin_table1">
        <table>
            <tr>
                <th>Id Kandydat</th>
                <th>Imie</th>
                <th>NrLegitymacjiPoselskiej</th>
            </tr>
            <tr>
                <td>1</td>
                <td>Mikolaj</td>
                <td>132313123</td>
            </tr>
            <tr>
                <td>2</td>
                <td>Maciek</td>
                <td>132313123</td>
            </tr>
            <tr>
                <td>3</td>
                <td>Artur</td>
                <td>132313123</td>
            </tr>
            <tr>
                <td>4</td>
                <td>Ewa</td>
                <td>132313123</td>
            </tr>
            <tr>
                <td>5</td>
                <td>Marta</td>
                <td>132313123</td>
            </tr>
            <tr>
                <td>6</td>
                <td>Karol</td>
                <td>132313123</td>
            </tr>
            <tr>
                <td>7</td>
                <td>Pawel</td>
                <td>132313123</td>
            </tr>
            <tr>
                <td>8</td>
                <td>Martyna</td>
                <td>132313123</td>
            </tr>
            <tr>
                <td>9</td>
                <td>Wiktoria</td>
                <td>132313123</td>
            </tr>
            <tr>
                <td>10</td>
                <td>Ewcia</td>
                <td>132313123</td>
            </tr>
        </table>
    </div>
    <div class="admin_table1">
        <table>
            <tr>
                <th>Id kandydata</th>
                <th>Id wybory</th>
            </tr>
            <tr>
                <td>1</td>
                <td>1</td>
            </tr>
            <tr>
                <td>1</td>
                <td>1</td>
            </tr>
            <tr>
                <td>1</td>
                <td>1</td>
            </tr>
            <tr>
                <td>1</td>
                <td>1</td>
            </tr>
            <tr>
                <td>2</td>
                <td>1</td>
            </tr>
            <tr>
                <td>2</td>
                <td>2</td>
            </tr>
            <tr>
                <td>3</td>
                <td>2</td>
            </tr>
            <tr>
                <td>4</td>
                <td>2</td>
            </tr>
            <tr>
                <td>5</td>
                <td>2</td>
            </tr>
            <tr>
                <td>6</td>
                <td>2</td>
            </tr>
        </table>
    </div>
    <div class="admin_table1">
        <table>
            <tr>
                <th>Id wybory</th>
                <th>Data</th>
                <th>Frekwencja</th>
            </tr>
            <tr>
                <td>1</td>
                <td>1997</td>
                <td>75%</td>
            </tr>
            <tr>
                <td>2</td>
                <td>2000</td>
                <td>50%</td>
            </tr>
            <tr>
                <td>3</td>
                <td>2002</td>
                <td>70%</td>
            </tr>
            <tr>
                <td>4</td>
                <td>2004</td>
                <td>80%</td>
            </tr>
            <tr>
                <td>5</td>
                <td>2006</td>
                <td>30%</td>
            </tr>
            <tr>
                <td>6</td>
                <td>2008</td>
                <td>40%</td>
            </tr>
            <tr>
                <td>7</td>
                <td>2010</td>
                <td>60%</td>
            </tr>
            <tr>
                <td>8</td>
                <td>2012</td>
                <td>50%</td>
            </tr>
            <tr>
                <td>9</td>
                <td>2014</td>
                <td>78%</td>
            </tr>
            <tr>
                <td>10</td>
                <td>2016</td>
                <td>90%</td>
            </tr>
        </table>
    </div>
</div>
<div class="admin_button">
    <button><a href="../SzczegolyWieleDoWiele.html">Szczegoly</a></button>
    <button><a>Usun</a></button>
    <table>
        <tr>
            <th><a href="next">10</a></th>
            <th><a href="next">20</a></th>
            <th><a href="next">30</a></th>
            <th><a href="next">40</a></th>
        </tr>
    </table>
    <br>
    <button><a href="NowyRekordWieleDoWiele.ejs">Nowy rekord</a></button>
    <button><a href="EdycjaRekordWieleDoWiele.ejs">Edycja</a></button>
</div>
</body>
</html>